{% extends 'frontendbase.html' %}
{% load static %}
{% block title %}
| About Us
{% endblock %}

{% block banner %}
{% endblock %}

{% block extra %}
{% endblock %}


{% block active_aboutus %} active {% endblock %}

{% block main %}
    <style>
        .top-content {
            background-image: url('/staticfiles/assets/img/gradientBG-B.png');
        }

        .content {
            font-weight: 600;
        }
    </style>
<section id="about-us" class="about-us mt-4" data-aos="fade-up">
    <div class="main-body d-flex justify-content-center flex-column">
        <div class="top-content d-flex flex-column align-items-center p-5">
            <p class="fs-6 text-white lh-3 m-0 p-0">What is CSIT Guru?
            </p>
            <p class="display-4 text-white fw-bolder m-0 p-0">About Us
            </p>
        </div>
    
        <div class="about-us-content">
            <p class="mx-auto w-75 px-3 py-2 text-justify content">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.
                Explicabo quam a facere quisquam repudiandae porro ex qui fuga pariatur dolore! Distinctio, deserunt
                veritatis impedit quidem iure delectus neque maiores quod quisquam, voluptatem rerum amet obcaecati
                aspernatur optio? Alias blanditiis dolore, sit porro magni iure cum illum necessitatibus minima
                quibusdam.
                Provident suscipit voluptatem quibusdam adipisci quasi molestias minima corrupti, cumque excepturi cum
                ipsa
                optio, consequuntur dicta ea! Consequuntur modi magni nisi, dolor voluptates aliquam sit expedita
                incidunt
                quo exercitationem totam eveniet voluptatum magnam iure reprehenderit. Corporis ab tempore quod eaque
                soluta
                totam harum nihil voluptates culpa ex beatae, in facilis maiores quis amet nemo iste, autem repellendus
                ducimus fuga ipsum, odit dolorum itaque eveniet! Ab dolor quos ipsa, quia error dolorem quae minima
                nihil
                vero alias animi ad, consequatur vel. Atque dolore iure deleniti qui quos porro nulla officiis iste ex
                ipsa
                consequuntur voluptates, culpa, dolorum iusto ab, repellendus est natus laborum aspernatur? Eos,
                dignissimos
                dolore magni, natus accusantium nam explicabo minus obcaecati consequuntur temporibus vel corporis
                impedit
                laudantium fugit voluptate quibusdam veritatis! Nostrum possimus minus, eum inventore cupiditate maiores
                voluptates suscipit enim, perspiciatis sint id. Alias eius repellat aliquam cupiditate, ab dolor
                consequuntur dolores voluptatem. Aspernatur expedita nihil odit ea.</p>
        </div>
    </div>

</section>

{% endblock %}

{% block footer_extra %}
{% endblock %}