
{% extends 'frontendbase.html' %}
{%  load static %}
{% block title %}
| Contact Us
{% endblock %}

{% block banner %}
{% endblock %}

{% block active_contactus %} active {% endblock %}

{% block extra %}
{% endblock %}

{% block main %}
<style>
  .top-content {
      background-image: url('/staticfiles/assets/img/gradientBG-Y.png');
  }

  .content {
      font-weight: 600;
  }
</style>


<section id="contact" class="contact mt-4">
  <div class="main-body">
    <div class="top-content d-flex flex-column align-items-center p-5">
        <p class="fs-5 text-white lh-3 m-0 p-0">For Any Queries?
        </p>
        <p class="display-4 text-white fw-bolder m-0 p-0">Contact Us
        </p>
    </div>

    <div class="row m-0 p-0">
        <div class="col-md-8 d-flex justify-content-center">
            <div class="contact-form p-5">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <textarea type="textarea" class="form-control" name="message" id="message"
                                    placeholder="Message"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="form-group py-2 text-center">
                        <input type="submit" class="button primary-btn w-25" id="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 py-2 d-flex justify-content-center">
            <div class="shadow-lg px-3 py-5 my-3 w-75 bg-white rounded">
                <div class="row px-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon"><i class="fa-solid fa-2x fa-location-dot"></i></div>
                            </div>
                            <div class="col-md-10">
                                <p class="h6">Location</p>
                                <p>Pokhara, Kaski</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon"><i class="fa-solid fa-2x fa-envelope"></i></div>
                            </div>
                            <div class="col-md-10">
                                <p class="h6">Email</p>
                                <p>info@csitguru.com.np</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon"><i class="fa-solid fa-2x fa-phone"></i></div>
                            </div>
                            <div class="col-md-10">
                                <p class="h6">Phone</p>
                                <p>9826136845</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}

{% block footer_extra %}
{% endblock %}