@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .skeleton {
        @apply text-transparent animate-[skeleton-loading-animation_1s_infinite_ease-in-out_alternate];
    }

    @keyframes skeleton-loading-animation {
        from {
            @apply bg-[#75cbfd];
        }

        to {
            @apply bg-[rgb(186,219,249)];
        }
    }

    .skeleton-star {
        @apply animate-[skeleton-star-loading-animation_1s_infinite_ease-in-out_alternate];
    }

    @keyframes skeleton-star-loading-animation {
        from {
            @apply text-[#75cbfd];
        }

        to {
            @apply text-[rgb(186,219,249)];
        }
    }

    .header {
        @apply text-2xl font-bold pb-4;
    }

    .header2 {
        @apply font-bold text-lg;
    }
}
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7rem;
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 3rem;
    transition: 0.3s ease;
}

/* liner */
header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: .3rem;
    bottom: -.5rem;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

/* section {
    padding: 1rem 20rem;
} */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 5rem;
    margin-bottom: 2rem;
}

.home .content h1 span {
    font-size: 4.4rem;
    font-weight: 600;
}

.home .content p {
    font-size: 1.5rem;
    margin-bottom: 6rem;
}

.home .content a {
    background: #1b99cf;
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    transition: all .6s ease-out;
}

.home .content a:hover {
    background: #137097;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6rem;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-65px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 2.2rem;
    height: 0.2rem;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

/* .video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
} */

@media (max-width: 1040px) {
    header {
        padding: 1.2rem 2rem;
    }

    /* section {
        padding: 10rem 2rem;
    } */

    .home .media-icons {
        right: 1.5rem;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2rem;
        margin: 2rem;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: .5rem;
    }

    header .navigation.active .navigation-items {
        background: #fff;
        width: 60rem;
        max-width: 60rem;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(menu.svg)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(close.svg)no-repeat;
        background-size: 2.5rem;
        background-position: center;
        transition: 0.3s ease;
    }
}

@media (max-width: 560px) {
    /* html {
        font-size: 52%;
    } */
}